<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home" routerLinkActive="active">home</a>
  <button class="navbar-toggler " (click)=displayNav() type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse "[class.show]= "navShow" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <li class="nav-item">
        
        <a class="nav-link" routerLink="/products" routerLinkActive="active">products</a>
      </li>
      <li class="nav-item dropdown ">
        <a (click)="dropdown()" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
          Product categories
        </a>
        <div  [class.show]="show" class="dropdown-menu"  aria-labelledby="navbarDropdown" >
          <a (click)="dropdown()" class="dropdown-item" routerLink="/foodlist">Food</a>
          <a (click)="dropdown()" class="dropdown-item" routerLink="/clothinglist">Clothing</a>
          <div class="dropdown-divider"></div>
          <a (click)="dropdown()" class="dropdown-item" routerLink="/specialorders">Special orders</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Register</a>
      </li>
      <li class="nav-item">
        
          <a style = "color: green" class="nav-link" routerLink="/donate" routerLinkActive="active">Donate</a>
        </li>
    </ul>
    <form [formGroup] = "searchForm" (ngSubmit)="onSubmit()" class="form-inline my-2 my-lg-0">
      <input formControlName = "query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>