<div class="container">


  <div *ngIf="displayedImage" class="row justify-content-center">
    <div class="col-sm-6 py-3">
      <img [src]="displayedImage" style="height: 60vh" class="img-fluid" (click)="imgClick($event)">
    </div>
  </div>
  <div class="row">

    <div *ngFor="let item of product.image_set; index as i" class="col-sm-3">
      <img [src]="product.image_set[i].url" style="height: 12em" [attr.data-index]="i" (click)="imgClick($event)">
    </div>


  </div>
  <div class="row">
    <p>
      {{product.productName}}<br>{{product.description}}
    </p>
    <div *ngIf="productInCart(); else elseBlock">

      <p>in cart
        <button (click)="updateCart()" class="btn btn-danger">
          remove from Cart
        </button>
      </p>
    </div>

    <ng-template #elseBlock>
      <button (click)="updateCart()" class="btn btn-primary">Add to Cart</button>
    </ng-template>
    
  </div>
</div>