<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <label>
      Username:
      <input type="text" formControlName="userName">
    </label>
    <label>
        Password:
        <input type="password" formControlName="password">
      </label>    
    <button type="submit"> Login </button>
  </form>

  <form (ngSubmit)="submitCart()" [formGroup]="cartForm">
    <label>
      product id:
      <input type="text" formControlName="product_id">
    </label>    
    <button type="submit"> Login </button>
  </form>
