<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-8 " style="border: solid green;">
        <a  href="/products/products"><img [src]=images[0].url class="img-fluid"></a>
        <!-- <p style="background: gray; border:solid; border-color:rgb(77, 72, 72); position: absolute;font-family:Impact, Charcoal, sans-serif; top:90%; left: 80%">books</p>
      --> 
      </div>
      
    </div>
    <div class="row justify-content-center">
        <div class="col-8 " style="border: solid green;">
            <a  href="/products/products"><img [src]=images[1].url class="img-fluid"></a>
        </div>
        
      </div>
      <div class="row justify-content-center">
          <div class="col-8 " style="border: solid green;">
              <a  href="/products/products"><img [src]=images[3].url class="img-fluid"></a>
          </div>
          
        </div>
   
  </div>