<!-- <ul>
  <li *ngFor= "let value of images"><p>{{value.name}}</p><img src="{{value.url}}"></li>
</ul> -->
<app-carousel></app-carousel>
<button class="btn btn-primary">dont click</button>

<div class="container-fluid">

  <div class="row justify-content-center">
    <app-image-links></app-image-links>
  </div>
  <div class="row justify-content-center">
    <app-link-cards></app-link-cards>
  </div>

  <div class="row justify-content-center">
    <h1> PAY US A VISIT</h1>
  </div>
  <div class="row justify-content-center">
  <p>
    Stop by our shop at some address
  </p>

</div>
</div>